<!DOCTYPE HTML>
<html>
<head>
	<title>Top 100 Albums</title>
	<link href="bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>Rolling Stone's Top 100 Albums of All Time</h1>
	<%= yield %>
</body>
</html>