<h3>Sorted by <%= params[:order].capitalize %></h3>
<table class="table">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Title</th>
			<th>Year</th>
		</tr>
	</thead>
	<tbody>
	<% @albums.each do |x| %>
	<%= x.rank==params[:rank].to_i ? "<tr class=\"success\">" : "<tr>" %>
	<%= "<td> #{x.rank.to_s} </td><td> #{x.title} </td><td> #{x.year} </td></tr>" %>
	<% end %>
</tbody></table>